.App {
  text-align: center;
}

button {
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

form.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  margin: 0 auto;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: rgb(50, 244, 50);
  margin-bottom: 8px;
}

.form-input {
  padding: 8px;
  font-size: 14px;
  border: 2px solid green;
  border-radius: 4px;
  margin-top: 10px;
  outline: none;
  transition: border-color 0.3s;
}

/* .form-input:focus {
  border-color: #007BFF;
} */

span {
  display: flex;
  align-items: center;
}

.currentUser {
  color: rgb(63, 219, 2);
}

.kayitliKullanicilar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  cursor: pointer;
}


.kayitliKullanicilar h2 {
  margin: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.kayitliKullanicilar h2:hover {
  background-color: rgb(50, 244, 50);
  color: black;
}

.kayitliKullanicilar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.kayitliKullanicilar ul.expanded {
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto;
  transition: max-height 0.5s ease-in;
}

.kayitliKullanicilar p {
  font-weight: 500;
  color: rgb(50, 244, 50);
  margin-right: 5px;
}

.kayitliKullanicilar li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.kayitliKullanicilar img {
  margin-right: 10px;
}

.blinkText {
  color: rgb(50, 244, 50);
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Genel Grid Yapısı */
.homepage-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Grid Bölümleri */
.left-section,
.middle-section,
.right-section {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  display: block; /* Desktop görünümde tüm bölümleri göster */
}

/* Mobil Görünüm */
@media (max-width: 768px) {
  .homepage-grid {
    display: block;
  }

  .homepage-grid .left-section.active,
  .homepage-grid .middle-section.active,
  .homepage-grid .right-section.active {
    display: block;
  }

  .bottom-navbar {
    display: flex; /* Sadece mobilde görünür */
  }
}

/* Desktop Görünüm */
@media (min-width: 769px) {
  .bottom-navbar {
    display: none; /* Desktop çözünürlükte navbar gizli */
  }

  .left-section,
  .middle-section,
  .right-section {
    display: block; /* Desktop çözünürlükte tüm bölümleri görünür yap */
  }
}

/* Alt Bar */
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  z-index: 1000;
}

/* Dark tema için navbar arka plan rengi */
body.dark .bottom-navbar {
  background-color: #333;
  color: white;
}
/* Light tema için navbar arka plan rengi */
body.white .bottom-navbar {
  background-color: #f8f8f8;
  color: black;
}

.bottom-navbar button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #888;
}

.bottom-navbar button.active {
  color: rgb(50, 244, 50);
  font-weight: bold;
}

.bottom-navbar button:hover {
  color: rgb(50, 244, 50);
}

/* LEFT BUTTON CONTAINER */
.left-button-container {
  display: flex;
  flex-direction: column; /* Butonları alt alta sıralar */
  align-items: center;
}

.left-button-container button {
  margin-bottom: 10px; /* Butonlar arasında boşluk bırakır */
  font-size: 14px; /* Yazı boyutunu küçültür */
  padding: 8px 12px; /* İç boşlukları küçültür */
  width: 150px; /* Buton genişliğini ayarlar */
}