body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

body.dark {
  background-color: black;
  color: white;
}

body.white {
  background-color: white;
  color: black;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-end;
}
